<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="msgContainer">
        <% messages.forEach((message)=> { %>
          <div <% if(locals.currentUser !==undefined &&
            message.user._id.toString()===locals.currentUser._id.toString()){ %>
            class='msgBox flexRight'
            <% }else { %>
              class='msgBox flexLeft'
              <% } %>
                />
                <div class="msgName">
                  <% if(message.user.admin) { %>
                    <div class="adminTrue imgButton"></div>
                    <% } %>
                    <% if(locals.currentUser !==undefined) { %>
                      <h3 class="msgUser">
                        <%= message.user.first_last %>:
                      </h3>
                      <% } else { %>
                        <h3 class="msgUser">
                          ?????:
                        </h3>
                      <% }%>
                </div>
                <div <% if(locals.currentUser !==undefined &&
                  message.user._id.toString()===locals.currentUser._id.toString()){ %>
                  class='msg msgGrey'
                  <% }else { %>
                    class='msg msgBlue'
                    <% } %>
                      />
                      <p>
                        <%= message.message %>
                      </p>
                </div>
                <div class="msgLower">
                  <% if(locals.currentUser !==undefined) { %>
                    <p>
                      <%= message.date_formatted %>
                    </p>
                    <% } else { %>
                      <p>
                        ?????
                      </p>
                    <% }%>
                  <% if(locals.currentUser !==undefined && locals.currentUser.admin) { %>
                    <form action="/delete" method="post">
                      <input type="text" name="id" value="<%= message._id.toString() %>" hidden>
                      <button class="deleteButton" type="submit"></button>
                    </form>
                    <% } %>
                </div>
          </div>
          <% }) %>
      </div>
    </div>
    <% if(locals.currentUser){ %>
      <div class="msgForm">
        <form method="POST" action="" class="form">
          <label for="message">Message:
            <input type="text" name="message" placeholder="Enter your message" id="message" <% if(errors){ %>
            class='inputError'
            <% } %>/>
              <% if(errors && errors.message){ %>
                <span class="danger error">
                  <%= errors.message.msg %>
                </span>
                <% } %>
          </label>
          <button>Send</button>
        </form>
      </div>
      <% } %>
</body>

</html>